.top-box{
    position:sticky;
    top:0px;
    background-color: white;
}

.first-box{
    padding: auto auto;
    margin:5px 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.fb-item-center{
    border: 1px solid lightgrey;
    border-radius: 30px;
    padding: 5px 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 20px;  
}
.fb-item-right{
    font-size: medium;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;  
}
.cred{
    border: 1px solid lightgray;
    padding:5px 5px;
    border-radius: 30px;
    display: inline;
}





.mb{
  
    margin: 30px 50px;
    display: flex;
    justify-content: space-between;
    font-size: small;
    background-color: white;
    align-items:start;
}
.mb img{
    width: 20px;
    top:10px;
}
.mb-item{
    top:0;
    bottom:0;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    text-size-adjust: 15px;

}
.mb-item:hover{
    opacity:1;
    border-bottom: 2px solid lightgrey;
}



.container{
    
    margin: 30px 50px;
    display: flex;
    justify-content:center;
    gap:70px;
    flex-wrap: wrap
    
}
.room-img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 16px;
}

.hotel-card{
    width: 250px;
    height: 250px;
    margin-bottom: 100px;
    padding: 10px;
    border-radius: 16px;
    border: 1px solid white;
    
    
}
.hotel-card-flex{
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items:top;
}
.sub-heading{
    margin-top: 8px;
    font-weight: 500;
    margin-bottom: 0;
}
.small{
    margin-top: 6px;
    font-size: 13px;
    color: gray;
}
.btn{
    border: 1px solid lightgray;
    border-radius: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 15px;
    gap: 10px;
    margin-top: 0px;
}

.pricebox{
    border:1px solid lightgray;
    border-radius: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 10px 400px;
    padding: 0px 15px;

}

.map{
    background-color: black;
    color: white;
    border-radius: 40px;
    border: none;
    padding: 2px 15px;
    font-size: smaller;
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto auto;
    position: sticky;
    bottom: 15%;
}

